{% extends 'base.html' %}
{% block content %}
    <div class="column">
        <H2>Sing Up</H2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">      
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {{field.errors}}
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Sing Up</button>
            </form>
    </div>
{% endblock %}
