<nav class="navbar navbar-expand-md bg-dark navbar-dark" >
    <a href="#" class="navbar-brand">D'Mare Store</a>
    <button type="button" name="button" class="navbar-toggler navbar-toggler-rigth" data-toggle="collapse" data-target="#navbarop">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarop" class="navbar-collapse collapse hide">
        <ul class="nav navbar-nav ml-auto">
            <li class="navbar-item">
                <a href="#" class="nav-link">Login</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Sing Up</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Log Out</a>
            </li>
        </ul>

    </div>
</nav>